alembic==1.7.1
celery==5.0.5
elasticsearch==7.12.1
fastapi==0.68.1
fastapi-admin==1.0.3
jsonschema==3.2.0
psycopg2-binary==2.9.1
pydantic==1.8.2
python-dateutil==2.8.1
python-dotenv
redis==3.5.3
requests==2.25.1
sqlalchemy==1.4.23
uvicorn==0.15.0
