.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    margin-bottom: 1rem!important;
}

.value {
    margin: 10px 0;
}

.separator {
    margin: 5px 0;
}

#token-icon {
    margin-left: 4px;
    cursor: pointer;
}

#token-tooltip {
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#token-icon:hover #token-tooltip {
    display: block;
}

#token-field {
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    color: #999;
    padding: 0;
    cursor: default;
}
